<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			{{log.category}}
		</mat-panel-title>
		<mat-panel-description>
			{{log.description}}
		</mat-panel-description>
	</mat-expansion-panel-header>
	<ng-container *ngIf="log.triggeringUser; else userDead">

		{{log.triggeringUser.name}} (
		<a href="mailto:{{log.triggeringUser.email}}">{{log.triggeringUser.email}}</a>)
	</ng-container>
	<ng-template #userDead>
		<i>Non-existing user</i>
	</ng-template>
	did this on {{log.date.toLocaleString()}}
	<br>
	<pre>{{log | json}}</pre>
</mat-expansion-panel>