<mat-card>
  <mat-card-title>
    Import users
  </mat-card-title>
  <mat-card-content>
    <div class="explanation-div">
      <p>
        TODO WRITE EXPLANATION ABOUT FILE FORMAT
      </p>
    </div>
    <!-- TODO add a second button to pick file with an icon button with attachment icon and separate upload file button -->
    <div class="upload-btn-wrapper full-width">
      <button mat-raised-button color="primary" class="full-width">Upload a file</button>
      <input type="file" name="csvFile" />
    </div>
  </mat-card-content>
</mat-card>