.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	flex: 0 1 auto;
}
.explanation-div{
	margin-bottom: 2em;
}

.file-buttons{
	display: flex;
	flex-direction: row;
}
  
.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.explanation{
	text-align: justify;
}