<mat-card>
  <mat-card-title>
    Import users
  </mat-card-title>
  <mat-card-content>
    <div class="explanation-div">
      <p class="mat-body explanation">
        Here you can import a CSV file containing a list of users to import with headers on the first line for the different properties
        of the users. You can use
        <a href="/static/user_template.csv">this template</a> with the headers already inserted and fill in the users before uploading it back. For the boolean
        fields, fill in with 0 (false) and 1 (true).
      </p>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="uploadFile()">
      <div class="full-width file-buttons">
        <div class="full-width button-progress">
          <button mat-raised-button class="full-width" color="accent" [disabled]="formGroup.invalid || formGroup.pristine" [hidden]="sending">Upload file
          </button>
          <mat-progress-bar mode="indeterminate" [hidden]="!sending"></mat-progress-bar>
        </div>
        <div matTooltip="Click to select a file" [matTooltipPosition]="'above'" class="upload-btn-wrapper col-auto">
          <button mat-icon-button color="primary">
            <mat-icon>attachment</mat-icon>
          </button>
          <input formControlName="csvFile" type="file" name="csvFile" (change)="fileChange($event)" />
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>