<div class="sheet-content">

  <h1 class="mat-title full-width-sheet-form">
    Change password</h1>
  <form [formGroup]="changePassGroup" (ngSubmit)="passwordChange()">
    <mat-form-field class="full-width-sheet-form">
      <input matInput formControlName="oldPassword" placeholder="Old password" type="password" required>
    </mat-form-field>
    <mat-form-field class="full-width-sheet-form">
      <input matInput formControlName="newPassword" placeholder="New password" type="password" required>
    </mat-form-field>
    <mat-form-field class="full-width-sheet-form">
      <input matInput formControlName="newPasswordConfirm" placeholder="Repeat new password" type="password" required>
    </mat-form-field>
    <!-- TODO There is a problem here with the content expanding when we add something -->
    <ng-container *ngIf="changePassGroup.hasError('passwordMatch') && changePassGroup.get('newPassword').touched && changePassGroup.get('newPasswordConfirm').touched; else passwordMatch">
      <button mat-raised-button color="accent" class="full-width-sheet-form" [disabled]="changePassGroup.invalid">New passwords don't match</button>
    </ng-container>
    <ng-template #passwordMatch>
      <button mat-raised-button color="accent" class="full-width-sheet-form" [disabled]="changePassGroup.invalid">Change password</button>
    </ng-template>
  </form>
</div>