.sheet-content{
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.bottom-sheet-form {
	width: 100%;
}

.full-width-button{
	width: 100%;
}

.full-width-sheet-form{
	display: block;
}