<div class="sheet-content">
  <h1 class="mat-title full-width-sheet-form">
    Change password</h1>
  <form class="bottom-sheet-form" [formGroup]="changePassGroup" (ngSubmit)="passwordChange()">
    <mat-form-field class="full-width-sheet-form">
      <input matInput formControlName="oldPassword" placeholder="Old password" type="password" required>
    </mat-form-field>
    <mat-form-field class="full-width-sheet-form">
      <input matInput formControlName="newPassword" placeholder="New password" type="password" required>
    </mat-form-field>
    <mat-form-field class="full-width-sheet-form">
      <input matInput formControlName="newPasswordConfirm" placeholder="Repeat new password" type="password" required>
      <mat-error *ngIf="changePassGroup.hasError('passwordMatch') && changePassGroup.get('newPassword').touched && changePassGroup.get('newPasswordConfirm').touched">Passwords don't match</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" class="full-width-button" [disabled]="changePassGroup.invalid">Change password</button>
  </form>
</div>