<mat-card class="create-user-form-card">
  <mat-card-title>
    New user
  </mat-card-title>
  <mat-card-content>
    <mat-horizontal-stepper [linear]='true' #userCreationStepper>
      <mat-step [stepControl]="personalFormGroup" label="Personal infos">
        <form [formGroup]="personalFormGroup">
          <mat-form-field class="full-width">
            <input matInput placeholder="Full Name" formControlName="fullName" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" type="email" required>
            <mat-error *ngIf="this.personalFormGroup.get('email').hasError('email') && this.personalFormGroup.get('email').touched">Please enter a valid email</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password':'text'" required>
            <mat-icon matSuffix (click)="hide = !hide" [matTooltip]="hide ? 'Show password' : 'Hide password'" [matTooltipPosition]="'above'">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-icon (click)="copyPass()" matSuffix matTooltip="Copy to clipboard" id="passwordInput" [matTooltipPosition]="'above'">file_copy</mat-icon>
            <mat-icon (click)="generatePassword()" matSuffix matTooltip="Click to generate a random password" [matTooltipPosition]="'above'">vpn_key</mat-icon>
          </mat-form-field>
        </form>
        <div>
          <button mat-raised-button color="primary" matStepperNext class="full-width" [disabled]="personalFormGroup.invalid">Next</button>
        </div>
      </mat-step>
      <mat-step label="Permissions" [optional]="true">
        <app-permissions-form #permissions [user]="undefined"></app-permissions-form>
        <div class="spacing-top">
          <button mat-raised-button color="primary" matStepperNext class="full-width">Next</button>
        </div>
      </mat-step>
      <mat-step label="Confirmation">
        <p class="spacing-bottom mat-subheading-2">
          Do you confirm the creation of the user {{this.personalFormGroup.get('fullName').value}}?
        </p>
        <div>
          <button mat-raised-button color="accent" class="full-width" (click)="copyLoginInfo()">Copy login information</button>
          <button mat-raised-button color="primary" matStepperNext class="full-width spacing-top" (click)="createUser()">Create user</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>