.create-user-form-card{
	max-width: 500px;
}

.flex-two-columns{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.spacing-bottom{
	margin-bottom: 1em;
}

.checkboxesFlex > mat-checkbox{
	max-width: 50%;
}