<mat-toolbar color="primary" class="navbar">
  <span>
    <a routerLink="/" mat-raised-button color="accent">PocketHepia</a>
  </span>
  <span *ngIf="this.userService.isLoggedIn() | async">
    <a routerLink="/transactions" mat-button>Transactions</a>
  </span>
  <span *ngIf="this.userService.isLoggedIn() | async">
    <a routerLink="/access" mat-button>Access</a>
  </span>
  <span *ngIf="this.userService.isLoggedIn() | async">
    <a routerLink="/books" mat-button>Books</a>
  </span>
  <!-- isConnected && isAdmin -->
  <span *ngIf="this.userService.isAdmin()">
    <mat-menu #adminMenu="matMenu">
      <a routerLink="/admin/logs" mat-menu-item>View logs</a>
      <a routerLink="/admin/users" mat-menu-item>Manage users</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
  </span>
  <span class="fillHorizontal"></span>
  <span *ngIf="this.userService.isLoggedIn() | async">
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="changePasswordDialog()">Change password</button>
      <button mat-menu-item (click)="this.userService.logout()">Logout</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>