<div class="table-container mat-elevation-z1">
  <div class="table-header">
    <div class="table-search-bar">
      <mat-form-field class="table-search-bar-input">
        <input matInput id="filter" (keyup)="filterTable($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="table-refresh-icon">
        <button mat-icon-button (click)="refreshData()">
          <mat-icon matTooltip="Click to refresh users list" [matTooltipPosition]="'above'">refresh</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-progress-bar mode="indeterminate" [hidden]="!isLoadingResults"></mat-progress-bar>
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>

    <!-- Permissions Column -->
    <ng-container matColumnDef="permissions">
      <mat-header-cell *matHeaderCellDef>Permissions</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.permissions.join(', ')}}</mat-cell>
    </ng-container>

    <!-- Accesses column -->
    <ng-container matColumnDef="accesses">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon style="visibility: hidden;">
          vpn_key
        </mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button matTooltip="View user access list" [matTooltipPosition]="'above'" mat-icon-button (click)="viewAccesses(row)">
          <mat-icon>
            vpn_key
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Edit column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon style="visibility: hidden;">
          edit
        </mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button matTooltip="Edit user" [matTooltipPosition]="'above'" mat-icon-button (click)="editUser(row)">
          <mat-icon>
            edit
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Delete column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon style="visibility: hidden;">
          delete
        </mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button matTooltip="Delete this user" [matTooltipPosition]="'above'" mat-icon-button (click)="deleteUser(row)" [matTooltipDisabled]="(currentUser | async).id == row.id"
          [disabled]="(currentUser | async).id == row.id">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>