.table-container {
	display: flex;
	flex-direction: column;
}

.table-header {
	min-height: 64px;
	padding: 8px 24px 0;
}

.search-bar {
	width: 100%;
}

.mat-column-delete, .mat-column-edit {
    flex: 0 1 auto;
    padding-right: 1em;
}