$break-small : 720px;
.users-container{
	display: grid;
	grid-column-gap: 2em;
	
	@media screen and (max-width: $break-small) {
		grid-template-columns: 1fr;
	}

	@media screen and (min-width: $break-small) {
		grid-template-columns: 1fr 2fr;
	}

}

.users-container > * {
	display: block;
}

.bottom-margin {
	display: block;
	margin-bottom: 2em;
}
