<div class="table-container mat-elevation-z1">
  <div class="table-header">
    <div class="table-search-bar">
      <mat-form-field class="table-search-bar-input">
        <input matInput id="filter" (keyup)="filterTable($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="table-refresh-icon">
        <button mat-icon-button (click)="refreshData()">
          <mat-icon matTooltip="Click to refresh users list" [matTooltipPosition]="'above'">refresh</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-progress-bar mode="indeterminate" [hidden]="!isLoadingResults"></mat-progress-bar>

  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.user.name}}</mat-cell>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.startDate.toLocaleDateString()}}</mat-cell>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.endDate ? row.endDate.toLocaleDateString(): 'No date'}}</mat-cell>
    </ng-container>

    <!-- Time Range Column -->
    <ng-container matColumnDef="timeRange">
      <mat-header-cell *matHeaderCellDef>Time Range</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.startTimeString()}} - {{row.endTimeString()}}</mat-cell>
    </ng-container>

    <!-- Delete column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon style="visibility: hidden;">
          delete
        </mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="deleteAccess(row)">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>