<div class="filters-area">
  <mat-form-field>
    <mat-select placeholder="Categories to display" [(ngModel)]="categories" multiple (selectionChange)="filterCategory($event)">
      <mat-select-trigger>
        <ng-container *ngIf="categories.length === categoriesList.length; else notAllCats">
          All categories
        </ng-container>
        <ng-template #notAllCats>
          {{categories ? categories[0] : ''}}
          <span *ngIf="categories.length > 1">
            (+{{categories.length - 1}} others)
          </span>
        </ng-template>
      </mat-select-trigger>
      <mat-option *ngFor="let category of categoriesList" [value]="category">{{category}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="Filter by user" aria-label="Number" matInput [formControl]="userFilterControl" [matAutocomplete]="auto">
    <mat-icon *ngIf="userFilterControl.value" (click)="cancelUserFilter()" matSuffix>close</mat-icon>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="userAutoCompleteDisplay" (optionSelected)="userFilterSelected($event)">
      <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
        {{ user.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="date-field">
    <input matInput #startDateInput [matDatepicker]="startDatePicker" placeholder="Choose a start date" [(ngModel)]="startDate"
      (dateChange)="filterDate($event)">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="date-field">
    <input matInput #endDateInput [matDatepicker]="endDatePicker" placeholder="Choose an end date" [(ngModel)]="endDate" (dateChange)="filterDate($event)">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
</div>
<div class="logs-list">
  <mat-accordion class="align-expansion-headers">
    <ng-container *ngIf="filteredLogs.length === 0; else notEmptyLogs">
      There are no logs available for the selected criteria
    </ng-container>
    <ng-template #notEmptyLogs>
      <app-log-entry *ngFor="let log of filteredLogs" [log]="log"></app-log-entry>
    </ng-template>
  </mat-accordion>
</div>