mat-button-toggle-group{
	margin-bottom: 2em;
}


.filters-area{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
}

.filters-area > * {
	flex: 1 1 auto;
	margin-left: 1em;
	margin-right: 1em;
}