<mat-button-toggle-group name="category" (change)="filterCategory($event)">
  <mat-button-toggle value="all" checked>All</mat-button-toggle>
  <mat-button-toggle value="usersCreations">Users creations</mat-button-toggle>
  <mat-button-toggle value="permissionsChanges">Permission changes</mat-button-toggle>
</mat-button-toggle-group>
<mat-form-field class="date-field">
  <input matInput #startDateInput [matDatepicker]="startDatePicker" placeholder="Choose a start date" [(ngModel)]="startDate"
    (dateChange)="filterDate($event)">
  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #startDatePicker></mat-datepicker>
</mat-form-field>
<mat-form-field class="date-field">
  <input matInput #endDateInput [matDatepicker]="endDatePicker" placeholder="Choose an end date" [(ngModel)]="endDate" (dateChange)="filterDate($event)">
  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #endDatePicker></mat-datepicker>
</mat-form-field>
<mat-accordion>
  <!-- TODO Change this to take real data from TS -->
  <app-log-entry name="Log Title" description="Log description" *ngFor="let i of [0,1,2,3,4,5]"></app-log-entry>
</mat-accordion>