/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

$pockethepia-theme-primary: mat-palette($mat-red, 900);
$pockethepia-theme-accent: mat-palette($mat-blue-grey,500);
$pockethepia-theme-warn: mat-palette($mat-deep-orange, A200);

$pockethepia-theme: mat-light-theme(
    $pockethepia-theme-primary,
    $pockethepia-theme-accent,
    $pockethepia-theme-warn
);


$pockethepia-theme-primary-punchy: mat-palette($mat-red, 500);
$pockethepia-theme-snackbar: mat-light-theme(
    $pockethepia-theme-accent,
    $pockethepia-theme-primary-punchy,
    $pockethepia-theme-warn
);

@include angular-material-theme($pockethepia-theme);
.swapped-theme{
    @include angular-material-theme($pockethepia-theme-snackbar);
}


body {
	margin: 0;
    font-family: 'Roboto';
}

.align-expansion-headers .mat-expansion-panel-header-title, 
.align-expansion-headers .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.full-width{
    width: 100%;
}

button:focus{
    outline: none;
}

.button-progress{
	display: flex;
	align-items: center;
}

.spacing-top{
	margin-top: 1em;
}
.spacing-bottom{
	margin-bottom: 1em;
}

.clickable{
	cursor: pointer;
}

.table-container {
	display: flex;
	flex-direction: column;
}

.table-header {
	min-height: 64px;
	padding: 8px 24px 0;
}

.table-search-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.table-refresh-icon{
	flex: 0 1 auto;
	margin: auto;
	margin-left: 1em;
}

.table-search-bar-input{
	flex: 1 1 auto;
}

.mat-column-delete, .mat-column-edit, .mat-column-accesses {
    flex: 0 1 auto;
    padding-right: 1em;
}