.flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-card{
	max-width: 400px;
	display: flex;
	flex-direction: column
}

.full-width-card-form{
	width: 100%;
}

.centered{
	margin-top: 1em;
	text-align: center;
}